[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	email = sgbarade@gmail.com
	name = SanjayGanesh614
[safe]
	directory = *
[windows]
	appendAtomically = false
